<div class="container">
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
  <div class="content">
    <app-produto></app-produto>
  </div>
</div>
