<div class="container">
  <div class="iconMenu">
    <img src="../../../../assets/icons/menu_open.png" (click)="toggleMenu()" />
  </div>
  <div class="cartShop">
    <img src="../../../../assets/icons/cart_shop.png" />
  </div>
</div>

<div class="menuOpen" [class.showMenu]="menu">
  <div class="contentMenu">
    <li>
      <ul>
        <a href="">teste 1</a>
      </ul>
      <ul>
        <a href="">teste 2</a>
      </ul>
      <ul>
        <a href="">teste 3</a>
      </ul>
    </li>
  </div>
</div>
