<div class="container">
  <div class="produtos">
    <div class="item">
      <h1>{{ dadosProduto.nome }}</h1>
      <p>Estoque: {{ dadosProduto.estoque }}</p>
      <img src="../../assets/img/exemple_img.jpg" />
      <div class="footerItem">
        <p>R$ {{ dadosProduto.preco }}</p>
        <div class="quantidade">
          <img
            class="add-button"
            src="../../../../assets/icons/remove_icon.png"
            (click)="removeItem()"
          />
          <p>Qnt: {{ quantidade }}</p>
          <img
            class="add-button"
            src="../../../../assets/icons/add_button.png"
            (click)="addItem()"
          />
        </div>
        <div class="buyButton" (click)="buyItem()">Comprar Agora</div>
      </div>
    </div>
  </div>
</div>
